.reveal {
    font-family: "Open Sans", sans-serif;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	font-family: "Oswald", sans-serif;
}

.reveal strong, .reveal b {
    font-weight: bold;
    font-size: 120%;
    color: #91c5bb;
}

.reveal em {
    font-style: italic;
    color: #91c5bb;
}
